/installed.xml
/indra/build-*
/indra/tools/vstool/obj/
*.aps
*.suo
*.vshost.exe
/bin/
/bin-release/
/bin
/bin-release
/indra/viewer-*
/indra/newview/vivox-runtime/
/libraries/
*.pyc
*.orig
*.rej
*.bak
*~
/LICENSES/
/edited-files.txt
qtcreator-build/

/indra/lscript/lscript_compile/indra.l.cpp.rule
/indra/lscript/lscript_compile/indra.y.cpp.rule
/indra/batch/start-client.py
/indra/lscript/lscript_compile/indra.l.cpp
/indra/lscript/lscript_compile/indra.y.cpp
/indra/lscript/lscript_compile/indra.y.hpp
/indra/newview/dbghelp.dll